body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #252525;
}

header, footer {
    background-color: #252525;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    border-radius: 15px;
}

#password-generator, #ad {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 0 10px;
}

#password-generator h2, #ad h2 {
    margin-top: 0;
}

#generate-button {
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style for the left ad */
.ad-left {
    float: left;
    margin-right: 10px; /* Add some spacing between ads */
    transform: translateX(0%)
    border-radius: 10px;
}

/* Style for the right ad */
.ad-right {
    float: right;
    margin-left: 10px; /* Add some spacing between ads */
    transform: translateX(100%)
    border-radius: 10px;
}
